<div class="col-md-6">
<%= form_for @listing, :html => { :class => "form-horizontal listing", :multipart => true } do |f| %>

    <% if @listing.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h5 class="panel-title"><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h5>
      </div>
      <div class="panel-body">
        <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control' %>
    <%= error_span(@listing[:name]) %>
  </div>

    <div class="form-group">
      <%= f.label :category_id, :class => 'control-label' %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"}, {class: 'form-control'} %>
      <%= error_span(@listing[:category_id]) %>
    </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
      <%= f.text_area :description, :class => 'form-control' %>
    <%= error_span(@listing[:description]) %>
  </div>

  <div class="form-group">
    <%= f.label :price, :class => 'control-label' %>
      <%= f.text_field :price, :class => 'form-control' %>
    <%= error_span(@listing[:price]) %>
  </div>

  <div class="form-group">
    <%= f.label :image, :class => 'control-label' %>
      <%= f.file_field :image, :class => 'form-control' %>
    <%= error_span(@listing[:image]) %>
  </div>

  <div class="form-group">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                listings_path, :class => 'btn btn-default' %>
  </div>

<% end %>
</div>