<div class="jumbotron">
  <h1>Handcrafted items from around the world.</h1>
  <h2>Discover one-of-a-kind items</h2>
</div>

<div class="center">
    <div class="row listing">
      <% @listings.each do |listing| %>
      <div class="col-sm-6 col-md-4 ">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url(:medium)), listing_path(listing) %>
          <div class="caption">
            <h3><%= link_to listing.name, listing_path(listing)  %></h3>
            <p><%= listing.description %></p>
            <div class="center">
              <%= link_to "Buy It Now", new_listing_order_path(listing), class: "btn btn-primary", data: { no_turbolink: true } %>
            </div>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Sold by #{listing.user.name}" %></p>

          </div>
        </div>
      </div>
          <% end %>
    </div>
</div>

<br>

<% if user_signed_in? %>
    <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>